.home {
  max-width: 1080px;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 40px;
  justify-content: center;
}

.home > .home-wrapper-1 {
  max-width: 760px;
  flex: 1;
  margin: 0 auto;
  margin-bottom: 76px;
}

.home > .home-wrapper-2 {
  width: 1080px;
  margin-bottom: 76px;
}