@import 'tailwindcss';

#root {
  width: 100%;
  height: 100%;
  /* text-align: center; */
  /* background-color: #f5f5f7; */
  background-color: white;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.icon-3 {
  width: 12px;
  height: 12px;
}

.icon-4 {
  width: 16px;
  height: 16px;
}

.icon-5 {
  width: 20px;
  height: 20px;
}

.icon-6 {
  width: 24px;
  height: 24px;
}

.icon-7 {
  width: 28px;
  height: 28px;
}

.icon-8 {
  width: 32px;
  height: 32px;
}

/*---------------------------- Buttons ----------------------------- */

button.search {
  background-color: #57068c;
  border-radius: 32px;
  color: white;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.hover-shade {
  transition:
    background-color 0.15s ease,
    color 0.15s ease;
}

.hover-shade:hover {
  background-color: color-mix(in srgb, currentColor 90%, black 10%);
}
