@import 'tailwindcss';

@theme {
  --color-nyu-50:  #f8f5fc;
  --color-nyu-100: #ede4f9;
  --color-nyu-200: #dac3f1;
  --color-nyu-300: #be91e5;
  --color-nyu-400: #9e59d4;
  --color-nyu-500: #7e22ce; /* main mid purple (close to tailwind purple-700) */
  --color-nyu-600: #661aaf;
  --color-nyu-700: #57068c; /* official NYU Violet */
  --color-nyu-800: #44046d;
  --color-nyu-900: #2b0245;
  --color-nyu-950: #8600A1
}

@theme {
  --color-abyss-50:  #f5f5f5;
  --color-abyss-100: #e5e5e5;
  --color-abyss-200: #cfcfcf;
  --color-abyss-300: #b1b1b1;
  --color-abyss-400: #666666;
  --color-abyss-500: #2b2b2b; /* base */
  --color-abyss-600: #242424;
  --color-abyss-700: #1d1d1d;
  --color-abyss-800: #151515;
  --color-abyss-900: #0c0c0c;
  --color-abyss-950: #999999;
}


@theme {
  --color-off-white: #f5f5f7;
}

/* #f5f5f7 */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

button {
  cursor: pointer;
}

body {
  background-color: white;
}